.c1{
    background-color: rgb(241, 183, 107);
    text-align: center;
    color: black;
}
h3{
    background-color: rgb(235, 211, 176);
}
.c2{
    background-color: aquamarine;
}
.c3{
    color:black;
}

        